/* index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
  margin-top: 20px;
  /* Center align the table */
  text-align: center;
}

/* Style for the table cells */
.product-table td {
  padding: 10px;
  text-align: left; /* Align the content within each cell to the left */
  /* border: 1px solid #ccc; */
}

/* Style for the product images */
.product-image {
  width: 100px;
  height: auto;
}

/* Styles for different lines in the table */
.product-table tr:nth-child(1) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333; /* Text color */
}

.product-table tr:nth-child(2) {
  font-family: 'Roboto', Arial, sans-serif;
  color: #555; /* Text color */
}

.product-table tr:nth-child(3) {
  font-family: 'Oxygen', Arial, sans-serif;
  color: #777; /* Text color */
}

.logo {
  width: 20px; /* Adjust the size as needed */
  vertical-align: middle;
  margin-left: 5px; /* Add some space between the logo and the text */
}